@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: black;
}

body {
    background: #FFFFFF;
}

#topnav {
    border: 1px solid red;
    display: flex;

}

#logo {
    min-width: 40px;
    min-height: 40px;
    max-width: 50px;
    max-height: 50px;

    margin: 15px 15px 15px 30px;
    border-radius: 10px;
}

#site-name {
    margin-right: 3%;
    align-self: center;
    font-size: x-large;
    font-weight: 700;
}

#searchbar {
    height: 50px;
    width: 50%;
    display: flex;
    align-self: center;
    margin-top: -5px;
    background: #E6E6E6;
    align-items: baseline;
    border-radius: 5px;
    /* border:1px solid red; */


}

#search-field {
    border: none;
    height: 40px;
    width: 100%;
    margin: 15px 15px 15px 5px;
    padding-left:20px;
    background: inherit;
    font-size: 18px;
    align-self: center;

}

#search-button {
    align-self: center;
    margin: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /* border: 1px solid red; */
}

#join-button {
    background: #05A081;
    height: 50px;
    width: 70px;
    align-self: center;
    border-radius: 5px;
    margin-top: -5px;
    margin-left: 5%;
    text-decoration: none;
    text-align: center;

    display:flex;
    align-items:center;
    justify-content: center;
}
#join-button:hover{
    background:#059377;
}
#join-button span{
    color:white;
}

@media only screen and (max-width: 900px) {
    #site-name {
        display: none;
    }
}


@media only screen and (max-width: 650px) {
    #site-name {
        display: none;
    }

    #logo {
        width: 40px;
        height: 40px;
    }

    #searchbar {
        width: 65%;
        height: 40px;
    }

    #search-field {
        width: 100%;
        height: 30px;
    }

    #search-button {
        width: 40px;
        height: 40px;
    }

    #join-button {
        display: none;
    }
}