@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    background:#6564b5;
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}
body {
    width:90%;
    height: auto;
    padding:0;
    margin:auto;
    background: yellowgreen;
    /* border: 5px solid red; */
    
}

.navbar{
background-color: #6564B5;

}

.navbar .container {
    /* border: 5px solid yellow; */
    display:flex;
    background-color: #6564B5;
    justify-content: space-between;
    /* justify-content:space-between; */
}

.navbar .container img{
    /* border:3px solid red; */
    width:30%;
    height:100%;
}

.navbar a {
    text-decoration: none;
}

.navbar a:visited {
    color:black;
}
.navbar .logo {
    /* border:3px solid green; */
    display:flex;
    align-items: center;
    width:200px;
    height:100%;
    justify-content:space-between;
}

.navbar .logo .site-name{
    display:flex;
    justify-content: center;
    /* border:3px solid blue; */
    width:100%;
    height:100%;
    align-items:center;
    font-size:xx-large;
    font-weight:bold;    
    background-color: #6564B5;
}

.navbar .navbar-items {
    /* border:3px solid orange; */
    display:flex;
    list-style-type: none;
    padding:10px 20px;
    background-color: yellowgreen;
}

.navbar .navbar-items li {
    /* border: 3px solid green; */
    padding: 0 10px;
    font-size:20px;
    background-color: yellowgreen;
}

.navbar .navbar-items li a{
text-decoration:none;
/* border:3px solid pink; */
background-color: yellowgreen;
}

.navbar .navbar-items li a:hover{
    color:yellow;
    }

.container {
    /* border: 5px solid red; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size:larger;
}
.text {
    /* display:flex; */
    /* border: 3px solid cyan; */
    height:100%;
    width: 50%;
    color:yellowgreen;
    font-size: 2em;
    padding-left:40px;

}
aside {
    display:flex;
    width:50%;
    justify-content: right;
    /* border: 3px solid cyan; */

}

aside img {
    width:100%;
}

header h1 {
    height:200px;
    background-color: yellowgreen;
    display:flex;
    justify-content: center;
    align-items: center;
}
