@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    background:#6564b58e;
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}

.navbar{
background-color: #6564B5;

}

.navbar .container {
    /* border: 5px solid yellow; */
    display:flex;
    background-color: #6564B5;
    justify-content: space-between;
    /* justify-content:space-between; */
}

.navbar .container img{
    /* border:3px solid red; */
    width:30%;
    height:100%;
}

.navbar a {
    text-decoration: none;
}
.navbar a:visited {
    color:black;
}
.navbar .logo {
    /* border:3px solid green; */
    display:flex;
    align-items: center;
    width:200px;
    height:100%;
    justify-content:space-between;
}

.navbar .logo .site-name{
    display:flex;
    justify-content: center;
    /* border:3px solid blue; */
    width:100%;
    height:100%;
    align-items:center;
    font-size:xx-large;
    font-weight:bold;    
    background-color: #6564B5;
}

.navbar .navbar-items {
    /* border:3px solid orange; */
    display:flex;
    list-style-type: none;
    padding:10px 20px;
    background-color: yellowgreen;
}

.navbar .navbar-items li {
    /* border: 3px solid green; */
    padding-left: 20px;
    font-size:20px;
    background-color: yellowgreen;
}

.navbar .navbar-items li a{
text-decoration:none;
/* border:3px solid pink; */
background-color: yellowgreen;
}

.navbar .navbar-items li a:hover{
    color:yellow;
    }